.form-create {
  position: fixed;
  z-index: 100;
  width: 100%;
  margin: 0;
  padding: 0;

  .card {
    padding: 10px;
    margin: 0!important;
  }

  .block__centered {
    float: none;
    margin-right: auto;
  }

  .button__wrapper {
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      margin: 0 5%;
    }
  }
}

.creator{
	display: flex;
	flex-direction: column;
	background: #e570e7; /* Old browsers */
background: -moz-linear-gradient(top, #e570e7 0%, #c85ec7 47%, #a849a3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #e570e7 0%,#c85ec7 47%,#a849a3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #e570e7 0%,#c85ec7 47%,#a849a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#a849a3',GradientType=0 );
	padding: 25px;
	width: 100%;
	max-width: 260px;
	.input_container{
		display: flex;
		flex-direction: column;
		
		
		input{
			border: none;
			box-shadow: none;
			outline: none;
			border-radius: 3px;
			padding: 5px;
			
		}
		input:first-of-type{
			margin-bottom: 25px;
		}
	}
	.button-wrapper{
		.btn.disabled{
			background: #dadada !important;
			cursor: default;
		
			&:hover{
				background-color: #dadada;
			}
		}
	}
}