.card{

  &-image {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    min-height: 40px;
    background-color: rgba(38, 166, 154, 0.5);
  }
}
li.card {
  border-radius: 5px;
}

.menu-icon__wrapper {
  position: absolute;
  right: 10px;
  //bottom: -28px; Complete float drop-left menu
  bottom: -20px;
  display: flex;
  align-items: center;
  a {
    order: 1;
  }
  ul {
    display: flex;
    align-items: center;
    padding: 0 5px;

    li {
      padding: 0 3px;
    }
  }
}